In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [2]:
#Find the raw url from the github repo
df = pd.read_csv('https://raw.githubusercontent.com/ThomasJRye/Intro_to_AI_2021/main/Lab3/data/flight.csv')

In [3]:
df

,Unnamed: 0,datetime_val,dep_time,arr_time,sched_arr_time,flight,origin,dest
0,0,2013-1-1 05:40:00,2013-1-1 05:42:00,2013-1-1 09:23:00,2013-1-1 08:50:00,1141,JFK,MIA
1,1,2013-1-1 06:00:00,2013-1-1 05:54:00,2013-1-1 08:12:00,2013-1-1 08:37:00,461,LGA,ATL
2,2,2013-1-1 05:58:00,2013-1-1 05:54:00,2013-1-1 07:40:00,2013-1-1 07:28:00,1696,EWR,ORD
3,3,2013-1-1 06:00:00,2013-1-1 05:55:00,2013-1-1 09:13:00,2013-1-1 08:54:00,507,EWR,FLL
4,4,2013-1-1 06:00:00,2013-1-1 05:57:00,2013-1-1 08:38:00,2013-1-1 08:46:00,79,JFK,MCO
...,...,...,...,...,...,...,...,...
121422,123979,2013-9-30 21:37:00,2013-9-30 21:47:00,2013-9-30 00:30:00,2013-9-30 00:27:00,1371,LGA,FLL
121423,123980,2013-9-30 21:56:00,2013-9-30 21:49:00,2013-9-30 22:45:00,2013-9-30 23:08:00,523,EWR,BOS
121424,123981,2013-9-30 21:13:00,2013-9-30 22:33:00,2013-9-30 01:12:00,2013-9-30 00:30:00,471,EWR,SFO
121425,123982,2013-9-30 20:01:00,2013-9-30 22:35:00,2013-9-30 00:59:00,2013-9-30 22:49:00,1083,JFK,MCO
121426,123983,2013-9-30 22:55:00,2013-9-30 23:07:00,2013-9-30 23:59:00,2013-9-30 23:58:00,718,JFK,BOS

In [7]:
df['datetime_val'] = pd.to_datetime(df['datetime_val'], errors='coerce')
df['dep_time'] = pd.to_datetime(df['dep_time'], errors='coerce')
df['arr_time'] = pd.to_datetime(df['arr_time'], errors='coerce')
df['sched_arr_time'] = pd.to_datetime(df['sched_arr_time'], errors='coerce')

In [5]:
df

,Unnamed: 0,datetime_val,dep_time,arr_time,sched_arr_time,flight,origin,dest
0,0,2013-01-01 05:40:00,2013-1-1 05:42:00,2013-1-1 09:23:00,2013-1-1 08:50:00,1141,JFK,MIA
1,1,2013-01-01 06:00:00,2013-1-1 05:54:00,2013-1-1 08:12:00,2013-1-1 08:37:00,461,LGA,ATL
2,2,2013-01-01 05:58:00,2013-1-1 05:54:00,2013-1-1 07:40:00,2013-1-1 07:28:00,1696,EWR,ORD
3,3,2013-01-01 06:00:00,2013-1-1 05:55:00,2013-1-1 09:13:00,2013-1-1 08:54:00,507,EWR,FLL
4,4,2013-01-01 06:00:00,2013-1-1 05:57:00,2013-1-1 08:38:00,2013-1-1 08:46:00,79,JFK,MCO
...,...,...,...,...,...,...,...,...
121422,123979,2013-09-30 21:37:00,2013-9-30 21:47:00,2013-9-30 00:30:00,2013-9-30 00:27:00,1371,LGA,FLL
121423,123980,2013-09-30 21:56:00,2013-9-30 21:49:00,2013-9-30 22:45:00,2013-9-30 23:08:00,523,EWR,BOS
121424,123981,2013-09-30 21:13:00,2013-9-30 22:33:00,2013-9-30 01:12:00,2013-9-30 00:30:00,471,EWR,SFO
121425,123982,2013-09-30 20:01:00,2013-9-30 22:35:00,2013-9-30 00:59:00,2013-9-30 22:49:00,1083,JFK,MCO
121426,123983,2013-09-30 22:55:00,2013-9-30 23:07:00,2013-9-30 23:59:00,2013-9-30 23:58:00,718,JFK,BOS